<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hospital</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<% if (messages.error) { %>
  <p class="alert alert-danger mt-4"><%- messages.error %></p>
<% } %> 
  
<% if (messages.success) { %>
    <p class="alert alert-success mt-4"><%- messages.success %></p>
<% } %> 

  <div class="container">
    <div class="row">
     <h3>Update Specialist</h3>
     <form action="/specialist/update/<%= data.sp_id %>" method="post" name="form" enctype="multipart/form-data">
      <div class="form-group">
        <label>Subject</label>
        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" value="<%= data.subject %>">
      </div>

      <div class="form-group">
        <img width="100px" src="/images/<%= data.specialist_image%>" class="img-thumbnail" alt="Cinque Terre">
      </div>

      <div class="form-group">
        <label>Specialist Photo</label>
        <input type="file" name="file" class="form-control" id="file">
        <input type="hidden" name="old_file" value="<%= data.specialist_image %>">
      </div>
      <input type="submit" class="btn btn-primary" value="Update">
    </form>
  </div>
</div>

</body>
</html>
