<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hospital</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

  <% if (messages.error) { %>
  <p class="alert alert-danger mt-4"><%- messages.error %></p>
  <% } %>
  
  <% if (messages.success) { %>
  <p class="alert alert-success mt-4"><%- messages.success %></p>
  <% } %>

  <div class="container">

    <div class="row" style="margin-top: 40px;">
      <div class="col-md-12">
        <a href="../" class="btn btn-primary"> Home </a>
        <a href="../specialist/add" class="btn btn-primary"> Add Specialist </a>
      </div>
    </div>

    <div class="row">
     <h3>Specialist List</h3>
     <table class="table">
      <thead>
        <tr>
          <th>Sl.No</th>
          <th>Image</th>
          <th>Subject</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>

        <% if(data.length){

          for(var i = 0; i< data.length; i++) {%>  
          <tr>
            <th scope="row"><%= (i+1) %></th>
            <td><%= data[i].subject%></td>
            <td><img class="img" width="50px" src="/images/<%= data[i].specialist_image%>" /> </td>
            <td>
              <a class="btn btn-success edit" href="../specialist/edit/<%=data[i].sp_id%>">Edit</a>                       
              <a class="btn btn-danger delete" onclick="return confirm('Are You sure?')" href="../specialist/delete/<%=data[i].sp_id%>">Delete</a>                       
            </td>
          </tr>
          <% }

        }else{ %>
        <tr>
          <td colspan="3">No data</td>
        </tr>
        <% } %>  
      </tbody>
    </table>
  </div>
</div>

</body>
</html>
